<h1> Add a user to this project</h3>

<form method = post action = "/projects" >
  <label for="volunteer-selection">Select a volunteer to add:</label>
  <select name="volunteers" id="pizza-selection">
    <option value="volunteer1.name"><%=volunteer1.name%></option>
    <option value="volunteer2.name"><%=volunteer2.name%></option>
  </select>
