<h1> Bellow are all the current saved projects</h1>
<% @projects.each do |project|  %>

<p> Project name: <%=project.name%></p>
<p> Project type: <%=project.type%></p>
<br>
<% end  %>
<a href = '/'> Home </a>
