<link
      href="/styles/projects/project_new.css" rel = "stylesheet"/>
  <link    href="https://fonts.googleapis.com/css?family=Lobster|Raleway:400,700,700i"/>

<h1> Create new project</h3>

<form method = "post" action = "/projects" >
  <label for="project-name-field"> Project Name: </label>
  <input
  required
  type ="text"
  name = "name"
  id= "project-name-field"/>
  <br>
  <br>

  <label>
    Select a project type (for general projects please select General Volunteering):
  </label>
  <select name = "type">
    <option value = "General Volunteering"> General Volunteering </option>
    <option value = "Counselling"> Counselling </option>
    <option value = "Colthes Collection"> Clothes ollection</option>
    <option value = "Food Bank Staffing"> Food Bank staffing </option>
    <option value = "Elderly care"> Elderly care </option>
    <option value = "Food Bank dontation collection/sorting"> Food Bank donation collection/sorting </option>
  </select>

  <br>
  <br>


  <label for="project-age-requirement-field"> Project Age requirement:
  </label>
  <input
    required
    type ="number"
    name = "age_requirement"
    max= 99
    min = 10
    id="project-age-requirement-field"/>

    <br>
    <br>


  <label>
    Select a project specialism (for general projects please select General Volunteer):
  </label>
  <select name = "specialism_required">
    <option value = "General Volunteer"> General Volunteer </option>
    <option value = "Counselling"> Counselling </option>
    <option value = "First Aid"> First Aid </option>
    <option value = "Driving"> Driving </option>
  </select>

  <br>
  <br>


  <label for="project-capacity-field">
    Project Capacity:
  </label>
  <input type = "number" name = "capacity"
   max = 20
   min = 0
   required
   id="project-capacity-field" />

   <br>
   <br>


  <label for="project-location-field"> Project Location:
  </label>
  <input
   required
   type ="text"
   name = "location"
   id= "project-location-field"/>

   <br>
   <br>


 <input type ="submit" value ="Create project" />

</form>

</body>
</html>
