<h1> Create new project</h3>

<form method = post action = "/projects" >
  <label for="project-name-field"> Project Name: </label>
  <input
  type ="text"
  name = "name"
  id= "project-name-field"/>


  <label for="project-type-field"> Project Type: </label>
  <input
  type ="text"
  name = "type"
  id= "project-type-field"/>

  <label for="project-location-field"> Project Location: </label>
  <input
  type ="text"
  name = "location"
  id= "project-location-field"/>

  <label for="project-specilsm_required-field"> Project Specilsm: </label>
  <input
  type ="text"
  name = "specilsm_required"
  id= "project-specilsm_required-field"/>

  <label for="project-age-requirement-field"> Project Age requirement: </label>
  <input
  type ="number"
  name = "age_required"
  id="project-age-requirement-field"/>

  <input type ="submit" value ="Create project" />

</form>
