<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href= "/styles/new.css"/
  </head>
  <body>

<h1> Create new project</h3>

<form method = "post" action = "/projects" >
  <label for="project-name-field"> Project Name: </label>
  <input
  required
  type ="text"
  name = "name"
  id= "project-name-field"/>


  <label>
    Select a project type (for general projects please select General Volunteering):
  </label>
  <select name = "type">
    <option value = "General Volunteering"> General Volunteering </option>
    <option value = "Counselling"> Counselling </option>
    <option value = "Colthes Collection"> Clothes ollection</option>
    <option value = "Food Bank Staffing"> Food Bank staffing </option>
    <option value = "Elderly care"> Elderly care </option>
    <option value = "Food Bank dontation collection/sorting"> Food Bank donation collection/sorting </option>
  </select>


  <label for="project-age-requirement-field"> Project Age requirement:
  </label>
  <input
    required
    type ="number"
    name = "age_requirement"
    max= 99
    min = 10
    id="project-age-requirement-field"/>


  <label>
    Select a project specialism (for general projects please select General Volunteer):
  </label>
  <select name = "specialism_required">
    <option value = "General Volunteer"> General Volunteer </option>
    <option value = "Counselling"> Counselling </option>
    <option value = "First Aid"> First Aid </option>
    <option value = "Driving"> Driving </option>
  </select>


  <label for="project-capacity-field">
    Project Capacity:
  </label>
  <input type = "number" name = "capacity"
   max = 20
   min = 0
   required
   id="project-capacity-field" />


  <label for="project-location-field"> Project Location:
  </label>
  <input
   required
   type ="text"
   name = "location"
   id= "project-location-field"/>


 <input type ="submit" value ="Create project" />

</form>

</body>
</html>
