<link
    href="/styles/projects/find.css" rel = "stylesheet"
    href="https://fonts.googleapis.com/css?family=Lobster|Raleway:400,700,700i"/>

<h1> Volunteers signed up to to     <%=@project.name %> </h1>
<br>
<% for volunteer in @volunteers do%>
<br>
<p> Volunteer name: <p>
<p><%= volunteer.name %></p>

  <p> Volunteer age: </p>

  <p><%=volunteer.age %></p>

  <p> Volunteer Skill</p>
  
<p>  <%=volunteer.specialism%> </p>
  <br>

  <p> See more Volunteer Information <a href = "/volunteers"> here</a> </p>

  <br>
<% end %>
