h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  left: 15em;
  font-weight: lighter;
  background-color: hsla(205, 61%, 70%,0.7);
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

 .details {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  position: relative;
  left: 38em;
  padding-bottom: 2em;
}


.volunteers a:hover {
  color: red;
}

.submit:hover{
  position: relative;
  cursor: wait;
}

form {
  padding-left: 2em;
}
