h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  left: 15em;
  font-weight: lighter;
  background-color: hsla(205, 61%, 70%,0.7);
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.details  a {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  position: relative;
  right: 50em;

}


a:hover {
  color: red;
}

input:hover{
  position: relative;
  cursor: wait;
}

input{
  position: relative;
  left: 56.5em;
  padding-top: 2em;
}
