<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Volunteer Tracker - Home</title>
    <link href ="/styles/index.css" rel = "stylesheet"
    <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway:400,700,700i"/>
  </head>
  <body>

<h1> Voluntracker</h1>

<h2> A handy application to track your projects and volunteers in one place</h2>
<ul>
 <li>
   <a class="home_links"  href ="/projects" > Projects </a>
 </li>
<li>
  <a class="home_links" href = "/volunteers"> Volunteers</a>
</li>

<li>
  <a class="home_links" href ="/bookings"> Bookings </a>
</li>
</ul>
</body>
</html>
