<h1> Volunteer Tracker</h1>

<h3> A handy application to track your projects and volunteers in one place</h3>

<a href ="/projects" > Click to see saved projects </a>

<br>

<a href ="/projects/new"> Add a new project </a>

<br>

<a href = "/volunteers"> Click to see saved volunteers</a>

<br>

<a href = "/volunteers/new"> Add a new volunteer </a>

<br>

<a href ="/bookings"> Bookings </a>
