<!DOCTYPE html>
<html>
<head>
  <title>Volunteer Finder</title>
  <link rel="stylesheet" href= "/styles/nav.css"/>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href='/'> Home </a>
    </li>
    <li>
      <a href="/projects">All Projects</a>
    </li>
    <li>
      <a href="/projects/new">Create Project</a>
    </li>
    <li>
      <a href='/volunteers'> All volunteers</a>
    </li>
    <li>
      <a href = "/volunteers/new"> Create Volunteer</a>
    </li>
    <li>
     <a href = "/bookings" > All Bookings </a>
   </li>
   <li>
     <a href = "/bookings/new"> Create a new booking</a>
   </li>
   <li>
     <a href = "/projects/available"> Available Projects</a>
  </ul>

</nav>
  <%= yield %>
</body>
</html>
