h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: hsla(205, 61%, 70%,0.7)
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
