.project {
  border: 1px, solid, black;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  left: 15em;
  font-weight: lighter;
  background-color: hsla(205, 61%, 70%,0.7);
}

div {
  position: center
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

a{
  font-family: 'Raleway', sans-serif;
  align-self:center;
}

.full {
  position: relative;
  left: 37.5em;
  bottom: 1em;
  top: 0.5em;
  padding-bottom: 1em;
}

.find {
  padding-top: 1em;
}

input {
 position: relative;
 left: 57em;
 padding-bottom: 2em;
 padding-top: 1em;
}

input:hover{
  position: relative;
  top: 0.3em;
  cursor: wait;
}
