
h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  left: 15em;
  font-weight: lighter;
  background-color: hsla(205, 61%, 70%,0.7)
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

form {
  padding-left: 2em;
}

/* input {
  padding-bottom: : 1em;
} */

select {
  padding-bottom: 1em;
}

.volunteers a:hover {
  color: red;
}

 .submit:hover{
  position: relative;
  cursor: wait;
}
