<h1> This is a page of all saved volunteers</h1>

<%@volunteers.each do |volunteer|  %>

<p> Volunteer name: <%=volunteer.name%></p>

<p> Volunteer age: <%=volunteer.age%></p>

<br>
<%end%>

<a href = "/"> Home </a>
