<link
    href="/styles/volunteers/volunteers_index.css" rel = "stylesheet"
    href="https://fonts.googleapis.com/css?family=Lobster|Raleway:400,700,700i"/>

<h1> Current Volunteers:</h1>

<div class="volunteers">



<%@volunteers.each do |volunteer|%>

<p> Volunteer name:
  <br>
<%=volunteer.name%></p>
<br>

<p> Volunteer Skill:
<br>
<%=volunteer.specialism%></p>

<br>
<a class = "details" href = "/volunteers/<%=volunteer.id%>"> Full detials </a>
<br>

<br>

<form action="/volunteers/<%=@volunteers.first.id %>/delete" method="POST"><input id="delete" type="submit" value="Delete"></form>


<hr>
<%end%>
</div>


</body>
</html>
