<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Volunteers - Home</title>
    <link
  </head>
  <body>


<h1> Current Volunteers:</h1>

<%@volunteers.each do |volunteer|%>

<p> Volunteer name: <%=volunteer.name%></p>
<%=volunteer.specialism%></p>

<br>
<a href = "/volunteers/<%=volunteer.id%>"> Full detials </a>

<form action="/volunteers/<%=@volunteers.first.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
<%end%>

<a href = "/"> Home </a>

</body>
</html>
