<h1> Create a new Volunteers</h3>

<form method = post action = "/volunteers" >
  <label for="volunteer-name-field"> Full Name: </label>
  <input
  required
  type ="text"
  name = "name"
  id= "volunteer-name-field"/>

  <label>
    Select a volunteer specialism (for general volunteers please select none):
    <select name = "specialism">
      <option value = "Driving"> none </option>
    <option value = "Counselling"> Counselling </option>
    <option value = "First Aid"> First Aid </option>
    <option value = "Driving"> Driving </option>
    <input required/>
    </select>
  </label>

<!--
  <label for="volunteer-specialism-field"> Specialism: </label>
  <input
  type ="text"
  name = "specialism"
  id= "volunteer-specialism-field"/> -->

  <label for="volunteer-age-field"> Age<input
    required
  type ="number"
  name = "age"
  max = 99
  min = 16
  id= "volunteer-age-field"/>


  <input type ="submit" value ="Create a volunteer" />

</form>
