<link
      href="/styles/volunteers/volunteer_new.css" rel = "stylesheet"/>
  <link    href="https://fonts.googleapis.com/css?family=Lobster|Raleway:400,700,700i"/>
  <body>

<h1> Create a new Volunteers</h3>

<form method = "post" action = "/volunteers" >
  <label for="volunteer-name-field"> Full Name: </label>
  <input
  required
  type ="text"
  name = "name"
  id= "volunteer-name-field"/>

  <br>
  <br>


  <label>
    Select a volunteer specialism (for general volunteers please select none):</label>
    <select name = "specialism">
      <option value = "General Volunteer"> General Volunteer </option>
    <option value = "Counselling"> Counselling </option>
    <option value = "First Aid"> First Aid </option>
    <option value = "Driving"> Driving </option>
    <!-- <input required hidden/> -->
    </select>

    <br>
    <br>




  <label for="volunteer-age-field"> Age:</label>
    <input
    required
    type ="number"
    name = "age"
    max = 99
    min = 16
    id= "volunteer-age-field"/>

    <br>
    <br>


  <input class="submit" type ="submit" value ="Create a volunteer" />

</form>

</body>
</html>
