<h1> Create a new Volunteers</h3>

<form method = post action = "/volunteers" >
  <label for="volunteer-name-field"> Name: </label>
  <input
  type ="text"
  name = "name"
  id= "volunteer-name-field"/>


  <label for="volunteer-specilsm-field"> Specilsm: </label>
  <input
  type ="text"
  name = "specilsm"
  id= "volunteer-specilsm-field"/>

  <label for="volunteer-age-field"> Age<input
  type ="text"
  name = "age"
  id= "volunteer-age-field"/>

  <input type ="submit" value ="Create a volunteer" />

</form>
