h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  left: 15em;
  font-weight: lighter;
  background-color: hsla(205, 61%, 70%,0.7)
;
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

 .details {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  position: relative;
  left: 38em;
  padding-bottom: 2em;
}

label {
  padding-left: 1em;
}


.volunteers a:hover {
  color: red;
}

.submit {
  padding-left: 1em;
}

.submit:hover{
  position: relative;
  cursor: wait;
}

/* input{
  position: relative;
  left: 56.5em;
  padding-top: 2em;
} */
