<h1>  Bookings Page </h1>
<%@bookings.each do |booking|%>

<p> Project name: <%=booking.project.name%> </p>
<p> Volunteer name: <%=booking.volunteer.name%> </p>

<a href = "/bookings/<%=booking.id%>"> Show full details  </a>

<form action="/bookings/<%=booking.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

<%end%>
