nav {
  display: inline;
  text-align: center;
}

li {
  display: inline;
  text-align: center;
  margin: 1em;
  font-family: 'Raleway', sans-serif;
}


a {
  display: inline;
  text-align: center;

}

a:active{
  position: relative;
  top:0.25em;

}
